<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Fitness.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>WidgetFitnessExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B04C7193258D2C2A0077B785</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B04C71A4258D2C2B0077B785</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B04C71AF258D2C2B0077B785</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B04C71C8258D2C520077B785</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
